name: docs-deploy

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      # NOTE: Needed to push to the repository.
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-python@v4

      - name: deps
        run: make dev

      - name: docs
        run: make doc

      - name: deploy
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html/blight
          publish_branch: gh-pages
          force_orphan: true
