name: Lint

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    uses: trailofbits/.github/.github/workflows/lint.yml@v0.1.3
    permissions:
      contents: read
      pull-requests: read
      checks: write
