name: Scan dependencies for vulnerabilities with pip-audit

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  schedule:
    - cron: "0 12 * * *"

jobs:
  pip-audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install project
        run: make dev

      - name: Run pip-audit
        uses: trailofbits/gh-action-pip-audit@v1.0.8
        with:
          virtual-environment: env/
          ignore-vulns: |
            GHSA-w596-4wvx-j9j6
