on:
  release:
    types:
      - published

name: release

jobs:
  pypi:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      # For OIDC publishing + Sigstore signing
      id-token: write

      # For signature + release asset uploading
      contents: write
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b

      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: deps
        run: python -m pip install -U setuptools build wheel

      - name: build
        run: python -m build

      - name: publish
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: sign
        uses: sigstore/gh-action-sigstore-python@v2.1.1
        with:
          inputs: ./dist/*.tar.gz ./dist/*.whl
          release-signing-artifacts: true
