name: CI

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:

jobs:
  test:
    strategy:
      matrix:
        python:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: deps
        run: make dev INSTALL_EXTRA=test

      - name: test
        run: make test

  all-tests-pass:
    if: always()

    needs:
      - test

    runs-on: ubuntu-latest

    steps:
      - name: check test jobs
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
